vendor/cloud/prebuilt/apps/CloudRtcGesture/CloudRtcGesture5.1.8_noJar.apk filter=lfs diff=lfs merge=lfs -text
external/angle/third_party/android_system_sdk/android_system.jar filter=lfs diff=lfs merge=lfs -text
external/chromium-webview/prebuilt/arm/webview.apk filter=lfs diff=lfs merge=lfs -text
external/chromium-webview/prebuilt/arm64/webview.apk filter=lfs diff=lfs merge=lfs -text
external/kotlinc/lib/kotlin-compiler.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/darwin-x86_64/qemu/darwin-x86_64/qemu-system-armel filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/darwin-x86_64/qemu/darwin-x86_64/qemu-system-i386 filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/darwin-x86_64/qemu/darwin-x86_64/qemu-system-x86_64 filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/darwin-x86_64/qemu/darwin-x86_64/qemu-system-aarch64 filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/darwin-x86_64/qemu/darwin-x86_64/qemu-system-aarch64-headless filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/darwin-x86_64/lib64/qt/lib/libQt5WebEngineCoreAndroidEmu.5.12.1.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/android-emulator/linux-x86_64/lib64/qt/lib/libQt5WebEngineCoreAndroidEmu.so.5 filter=lfs diff=lfs merge=lfs -text
prebuilts/asuite/acloud/acloud filter=lfs diff=lfs merge=lfs -text
prebuilts/build-tools/common/framework/ktfmt.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/clang-tools/darwin-x86/lib64/libclang-cpp.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/clang-tools/linux-x86/lib64/libclang-cpp.so.14git filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/lib64/liblldb.14.0.6git.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/lib64/libclang.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/lib64/libLLVM.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/lib64/libLTO.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/lib64/libclang-cpp.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/clangd filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/llvm-bolt filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/dsymutil filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/clang-check filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/clang-14 filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/llvm-dwp filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/clang-tidy filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/darwin-x86/clang-r450784d/bin/lld filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-stable/lib64/libclang.so.13 filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/lib64/libLTO.so.14git filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/lib64/libclang.so.13 filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/lib64/libLLVM-14git.so filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/lib64/liblldb.so.14.0.6git filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/lib64/libclang-cpp.so.14git filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/bin/clang-check filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/bin/clang-14 filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/clang-r450784d/bin/lld filter=lfs diff=lfs merge=lfs -text
prebuilts/clang/host/linux-x86/profiles/pgo-r450784.tar.bz2 filter=lfs diff=lfs merge=lfs -text
prebuilts/gcc/linux-x86/aarch64/gcc-arm-10.2-2020.11-x86_64-aarch64-none-linux-gnu/aarch64-none-linux-gnu/lib64/libstdc++.a filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk8/darwin-x86/jre/lib/rt.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk8/linux-x86/jre/lib/rt.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk9/darwin-x86/lib/src.zip filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk9/darwin-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk9/linux-x86/lib/src.zip filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk9/linux-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk17/darwin-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk17/linux-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk17/windows-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/darwin-arm64/lib/src.zip filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/darwin-arm64/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/darwin-x86/lib/src.zip filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/darwin-x86/lib/server/libjvm.dylib.dSYM/Contents/Resources/DWARF/libjvm.dylib filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/darwin-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/linux-x86/lib/src.zip filter=lfs diff=lfs merge=lfs -text
prebuilts/jdk/jdk11/linux-x86/lib/modules filter=lfs diff=lfs merge=lfs -text
prebuilts/ktlint/ktlint-android-all.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-6.0.1_r3-robolectric-r1.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-11-robolectric-6757853.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-8.1.0-robolectric-r4458339.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-5.0.2_r3-robolectric-r0.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-8.0.0_r4-robolectric-0.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-S-beta3-robolectric-7541949.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-8.1.0-robolectric-4611349.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-5.1.1_r9-robolectric-r2.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-R-beta2-robolectric-6625208.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-8.0.0_r4-robolectric-r1.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-7.0.0_r1-robolectric-0.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-6.0.1_r3-robolectric-0.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-Q-robolectric-5415296.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-6.0.0_r1-robolectric-0.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-7.1.0_r7-robolectric-0.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-10-robolectric-5803371.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-7.0.0_r1-robolectric-r1.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-7.1.0_r7-robolectric-r1.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-9plus-robolectric-5616371.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric/android-all/android-all-9-robolectric-4913185-2.jar filter=lfs diff=lfs merge=lfs -text
prebuilts/misc/common/robolectric-native-prebuilt/resources/native/linux/x86_64/librobolectric-nativeruntime.so filter=lfs diff=lfs merge=lfs -text
prebuilts/module_sdk/art/1/host-exports/x86_64/bin/dex2oat64 filter=lfs diff=lfs merge=lfs -text
prebuilts/module_sdk/art/1/host-exports/x86_64/bin/dex2oatd64 filter=lfs diff=lfs merge=lfs -text
prebuilts/module_sdk/art/1/host-exports/x86_64/bin/oatdump filter=lfs diff=lfs merge=lfs -text
prebuilts/qemu-kernel/x86/vmlinux-vbox filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/i18n/apex/com.android.i18n-arm64.apex filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/i18n/apex/com.android.i18n-x86_64.apex filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/x86/lib/perfetto_trace_protos.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/x86/lib/libperfetto_client_experimental.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/x86_64/lib/perfetto_trace_protos.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/x86_64/lib/libperfetto_client_experimental.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/arm/lib/perfetto_trace_protos.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/arm/lib/libperfetto_client_experimental.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/arm64/lib/perfetto_trace_protos.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/mainline/platform/sdk/arm64/lib/libperfetto_client_experimental.a filter=lfs diff=lfs merge=lfs -text
prebuilts/runtime/appcompat/hiddenapi-flags.csv filter=lfs diff=lfs merge=lfs -text
