#ifndef __RK_MPI_MMZ_VERSION_H__
#define __RK_MPI_MMZ_VERSION_H__

#define MPI_MMZ_BUILT_VERSION "build:2024-07-01 09:55:28   git-8c9543f date: 2023-05-08 author: Meiyou Chen"

#endif /* __RK_MPI_MMZ_VERSION_H__ */
